<div class="mb-4">
    <div class="posts d-flex flex-row justify-content-between border border-dark rounded-top" >
        <h3 class="post-title p-2">{{post_title}}</h3>
        <p class="post-user pt-3 pr-2" style="text-size: 10px; font-weight: bold;">Posted by {{user.username}} on {{created_at}}</p>
    </div>
    <div class="post-text border border-dark rounded-bottom p-2">{{post_text}}</div>
</div>

{{#each comments as |comment|}}
<div class="mb-4">
    <div class="posts d-flex flex-row justify-content-between border border-dark rounded" >
        <h5 class="post-title pt-2 pl-1">{{comment_text}}</h5>
        <h6 class="post-user pt-2 pr-1" style="text-size: 5px;">Posted by {{username}} on {{created_at}}</h6>
    </div>
</div>
{{/each}}

<button type="button" class="btn btn-primary btn-lg">Add a Comment!</button>

<section id="create-comment-form" class="d-none bg-light w-50 rounded" style="position:fixed; top: 25%; left: 25%; transition:cubic-bezier(1, 0, 0, 1);">
        <div id="popup-container" class="d-flex flex-column mx-auto rounded"> 
            <button id="closebtn" class="btn btn-sm btn-danger m-2" style="height: 30px; width: 30px;  position: absolute; right: 10px;">X</button>          
            <h1 class="text-center text-dark ml-5">Post a Comment!</h1>                 
            <div class="form-group mx-2">
                <label for="exampleFormControlInput1">comment</label>
                <input id="postcontent" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Comment Here!">
            </div>
            <button id="submitbtn" type="button" class="btn btn-primary mx-auto w-25 mb-2">Submit!</button>
        </div>
    </section>
